* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  &:hover {
    cursor: pointer;
  }
}
